@using System.Configuration
@using BusBoard.Api
@model BusBoard.Web.ViewModels.BusArrivalInfo
@{
  ViewBag.Title = "Bus Information";
}

<h2>BusInfo</h2>
<meta http-equiv="refresh" content="30" >

<div class="row">
    <p>You entered postcode: @Model.PostCode</p>
    
    @if (Model.NextBuses.Count == 0)
    {
        <p>Sorry, an error occurred. Make sure you enter a valid London postcode.</p>
        if (Model.isRetrievedDataSuccessful == false)
        {
            <p>The data retrieval failed, with reason: @Model.ErrorMessage</p>
        }
    }
    else
    {
        <p>Here are the soonest buses arriving near you:</p>
        int numberToDisplay = int.Parse(ConfigurationManager.AppSettings.Get("max_buses_to_display"));
        foreach (BusInfo busInfo in Model.NextBuses.Take(numberToDisplay))
        {
            <h3>- - - - - - - - - - - - -</h3>
            <p><b>Bus Stop:</b> @busInfo.StationName</p>
            <p><b>Destination Stop:</b> @busInfo.DestinationName</p>
            <p><b>Expected Arrival:</b> @busInfo.ExpectedArrival.ToLocalTime()</p>
            <p><b>Line Number:</b> @busInfo.LineName</p>
            <br>
        }
    }
</div>
