@using System.Configuration
@model BusBoard.Web.ViewModels.BusInfo
@{
  ViewBag.Title = "Bus Information";
}

<h2>BusInfo</h2>

<div class="row">
    <p>You entered postcode @Model.PostCode</p>
    @if (Model.nextBuses.Count == 0)
    {
        <p>Sorry, an error occurred! Make sure you enter a valid London postcode.</p>
        <p>The data retrieval failed, with reason: @Model.ErrorMessage</p>
    }
    else
    {
        <p>Here are the soonest buses arriving near you:</p>
        int numberToDisplay = int.Parse(ConfigurationManager.AppSettings.Get("max_buses_to_display"));
        foreach (BusBoard.ConsoleApp.BusInfo busInfo in Model.nextBuses.Take(numberToDisplay))
        {
            <br>
            <h3>- - - - - - - - - - - - -</h3>
            <p><b>Bus stop:</b> @busInfo.StationName</p>
            <p><b>Destination stop:</b> @busInfo.DestinationName</p>
            <p><b>Expected Arrival:</b> @busInfo.ExpectedArrival.ToLocalTime()</p>
            <p><b>Line Number:</b> @busInfo.LineName</p>
        }
    }
</div>
